body {
    /* background: red; */
    margin: 0;
}

.landing {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* background: blue; */
    /* z-index: 1; */
}

.landing-title {
    font-size: 150px;
    color: black;
}

.landing-upload {
    font-size: 35px;
    color: black;
}

.nav {
    z-index: 10;
    position: fixed;
    width: 200px;
    /* height: 50%; */
    min-height: 100vh;
    left: 0;
    top: 0;
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-logo {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
}

.nav-link a {
    position: relative;
    color: aliceblue;
    text-decoration: none;
}

.nav-link a::before {
    content: '';
    height: 2px;
    width: 0%;
    left: 0;
    position: absolute;
    bottom: -4px;
    transition: width 0.3s;
    background: aliceblue;
}

.nav-link a::after {
    content: '';
    height: 2px;
    width: 0%;
    right: 0;
    position: absolute;
    bottom: -4px;
    transition: width 0.3s;
    background: aliceblue;
}

.nav-link a:hover::before,
.nav-link a:hover::after {
    width: 50%;
}